        .contentLogin {
            display: grid;
            grid-gap: 10px;
            margin-top: 30px;
            justify-content: center;
            grid-template-columns: [main-start] 40% [main-end];
            grid-template-rows: 50px [main-start] 580px [main-end] 400px;
        }
        
        .maingridLogin {
            margin-top: 175px;
            background-color: white;
            grid-area: main;
            border-radius: 10px;
            
        }
        
        .contentLogin header {
            margin-top: 10px;
            min-height: 5vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: calc(35px + 2vmin);
            color: white;
            text-shadow: -1px 0 #6764AF, 0 1px #6764AF, 1px 0 #6764AF, 0 -1px #6764AF;
        }
        
        .title:before {
            width: 10%;
            height: 10%;
            content: url(../../shared/img/logo.png);
        }
        
        .langu {
            justify-self: right;
            color: white;
        }

        .loginForm {
            margin-left: 25px;
            margin-top: 30px;
            margin-right: 20px;
        }
        
        .passwordRepeat {
            margin-top: 10px;
        }

        .signupButton{
            width: 100% !important
        }

        .socialLoginSection {
            width: 100% !important;
            justify-content: center !important;
        }

        .login-method-separator {
            text-align: center;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        .loginButton{
            width: 100% !important
        }